
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  background-color: gray;
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}



.menu-wrapper, .login-btn-wrapper, .join-btn-wrapper {
  display: inline-block;
  margin: 1rem;
  margin-right: 3rem;
  background-color: gray;
  border-radius: 0.5rem;
}
.menu-wrapper:hover, .login-btn-wrapper:hover, .join-btn-wrapper:hover {
  background-color: rgb(104, 123, 230);
  color: white;
}

.menu-btn, .login-btn, .join-btn {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 2px 2rem;
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  margin: 0;
  border-radius: 50%;
  display: block;
  pointer-events: all;
}

.logo {
  padding: 0;
  pointer-events: none;
}

.hamburger {
  padding: 1rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-list {
    flex-direction: column;
    position: relative;
    visibility: hidden;
    transform: translateY(-100%);
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  .menu-btn, .login-btn, .join-btn {
    width: 100%;
    padding: 0;
  }
  .menu-wrapper, .login-btn-wrapper, .join-btn-wrapper {
    text-align: center;
    width: 100%;
    background-color: gray;
    margin: 0 0 0;
  }

  .menu-list.open {
    visibility: visible;
    transition: 0.3s ease-in-out;
    transform: translateY(0);
  }
}

